html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {font: 35px sans-serif;}
h2 {font: 25px sans-serif;}
h3 {font: 23px sans-serif;}
h4 {font: 21px sans-serif;}
h5 {font: 18px sans-serif;}
h6 {font: 16px sans-serif;}

.wrapper{
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.layout{
    display: block;
    width: 1170px;
    margin: 0 auto;
}
.header{
    display: block;
    width: 100%;
    height: 80px;
    background: #0d0b11;
}
.header .logo{
    float: left;
    overflow: hidden;
    margin-top: 30px;
}
.header .logo a{
    display: block;
    width: 183px;
    height: 25px;
}
.header .logo a img{
    display: block;
}
.header .nav{
    float: right;
    overflow: hidden;
    margin-top: 30px;
}
.header .nav li{
    display: inline-block;
    margin-left: 50px;
}
.header .nav li a{
    display: block;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.header .menu{
    float: right;
    display: none;
    width: 50px;
    height: 50px;
    background: blue;
}
.header .menu a {
	display: block;
	width: 100%;
	height: 100%;
}
.main{
    display: block;
    width: 100%;
}
.main .content_1{
    display: block;
    width: 100%;
    padding-bottom: 125px;/*зачем и почему ?*/
    background: #161828;
}
.main .content_1 .layout h2{
    display: block;
    margin-bottom: 40px;
    padding-top: 120px;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 36px;
    font-weight: 700;
}
.main .content_1 .layout p{
    display: block;
    margin-bottom: 60px;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.main .content_1 .layout .button{
    display: block;
    width: 140px;
    height: 36px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    padding-top: 14px;
    background: #ea5b58;
    text-align: center;
    cursor: pointer;
}
.main .content_1 .layout .button a{
    display: block;
    width: 140px;
    height: 36px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    z-index: 5;
}
.main .content_1 .layout .right{
    display: block;
    position: absolute;
    top: 140px;
    right: 90px;
    z-index: 10;
}
.main .content_1 .layout .right img{
    display: block;
}
.main .content_1 .layout .left{
    display: block;
    position: absolute;
    top: 120px;
    left: 70px;
    z-index: 1;
}
.main .content_1 .layout .left img{
    display: block;
}
.main .content_2{
    display: block;
    width: 100%;
    background: #475a85;
}
.main .content_2 .layout .title{
    display: block;
    width: 370px;
    margin: 0 auto;
    text-align: center;
}
.main .content_2 .layout .title h3{
    display: block;
    padding-top: 70px;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.main .content_2 .layout .title p{
    display: block;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.main .content_2 .layout .title .line{
    display: block;
    width: 256px;
    height: 1px;
    margin: 24px auto;
    background: #ffffff;
    position: relative;
}
.main .content_2 .layout .title .line:before{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content:" ";
    background: #ffffff;
    position: absolute;
    left: -5px;
    top: -2px;
}
.main .content_2 .layout .title .line:after{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content:" ";
    background: #ffffff;
    position: absolute;
    right: -5px;
    top: -2px;   
}
.main .content_2 .layout ul{
    display: block;
    width: 100%;
    margin-top: 70px;
    padding-bottom: 100px;
}
.main .content_2 .layout ul li{
    display: inline-block;
    width: 250px;
    margin-right: 50px;
    text-align: center;
}
.main .content_2 .layout ul li:last-child{
    margin: 0;
}
.main .content_2 .layout ul li img{
    display: block;
    width: 46px;
    margin: 0 auto 30px auto;
}
.main .content_2 .layout ul li h4{
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.main .content_2 .layout ul li p{
    display: block;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.main .content_2 .layout ul li .button{
    display: block;
    width: 140px;
    height: 36px;
    margin: 0 auto;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    padding-top: 14px;
    background: #ea5b58;
    text-align: center;
    cursor: pointer;
}
.main .content_2 .layout ul li .button a{
    display: block;
    width: 140px;
    height: 36px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.main .content_3{
    display: block;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 150px;
    background-image: url('../images/grayRectangle.png');
    background-repeat: repeat;
    text-align: center;    
}
.main .content_3 .layout h2{
    display: block;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 48px;
    font-weight: 400;  
}
.main .content_3 .layout p{
    display: block;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 24px;
    font-weight: 400;  
}
.main .content_4{
    display: block;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 90px;
}
.main .content_4 .layout .title41{
    display: block;
    width: 370px;
    margin: 0 auto;
    text-align: center;
}
.main .content_4 .layout .title41 h3{
    display: block;
    padding-top: 70px;
    margin-bottom: 20px;
    color: #323232;
    font-family: Open Sans, sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.main .content_4 .layout .title41 p{
    display: block;
    color: #323232;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.main .content_4 .layout .title41 .line{
    display: block;
    width: 256px;
    height: 1px;
    margin: 24px auto;
    background: #323232;
    position: relative;
}
.main .content_4 .layout .title41 .line:before{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content:" ";
    background: #323232;
    position: absolute;
    left: -5px;
    top: -2px;
}
.main .content_4 .layout .title41 .line:after{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content:" ";
    background: #323232;
    position: absolute;
    right: -5px;
    top: -2px;   
}
.main .content_4 .layout .tabs{
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 50px auto;
    text-align: center;
}
.main .content_4 .layout .tabs li{
    display: inline-block;
    overflow: hidden;
}
.main .content_4 .layout .tabs li a{
    display: block;
    color: #a7a7a7;
    overflow: hidden;
    font-size: 18px;
}
.main .content_4 .layout .tab-content{
    display: block;
    overflow: hidden;
    width: 100%;
}
.main .content_4 .layout .tab-content .t1{
    display: block;
    width: 100%;
    overflow: hidden;
}
.main .content_4 .layout .tab-content .t2{
    display: block;
    overflow: hidden;
    width: 100%;
}
.main .content_4 .layout .tab-content .t3{
    display: block;
    width: 100%;
    overflow: hidden;
}
.main .content_4 .layout .tab-content ul{
    display: block;
    width: 100%;
    overflow: hidden;
}
.main .content_4 .layout .tab-content ul li{
    display: inline-block;
    overflow: hidden;
    width: 370px;
    height: 290px;
    background: #7b7b7b;
    margin: 0 16px 16px 0;
}
.main .content_4 .layout .tab-content ul li h3{
    display: none;
}
.main .content_4 .layout .tab-content ul li p{
    display: none;
}
.main .content_4 .layout .tab-content ul li img{
    display: none;
}
.main .content_4 .layout .tab-content ul li:hover{
    display: inline-block;
    width: 350px;
    height: 290px;
    padding: 0 10px;
    background: #506083;
    margin: 0 16px 16px 0;
}
.main .content_4 .layout .tab-content ul li:hover h3{
    display: block;
    overflow: hidden;
    margin: 0 auto 14px auto;
    padding-top: 40px;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 24px;
    font-weight: Bold;
    text-align: center;
}
.main .content_4 .layout .tab-content ul li:hover p{
    display: block;
    width: 100%;
    margin-bottom: 24px;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.main .content_4 .layout .tab-content ul li:hover img{
    display: block;
    width: 44px;
    margin: 0 auto;
    cursor: pointer;
}
.main .content_4 .layout .button4{
    display: block;
    width: 92px;
    height: 88px;
    overflow: hidden;
    margin: 70px auto;
}
.main .content_4 .layout .button4 a{
    display: block;
    width: 92px;
    height: 88px;
    cursor: pointer;
}
.main .content_4 .layout .button4 img{
    display: block;    
}
.main .content_4 .layout .title42{
    display: block;
    width: 370px;
    margin: 0 auto;
    text-align: center;
}
.main .content_4 .layout .title42 h3{
    display: block;
    padding-top: 30px;
    margin-bottom: 20px;
    color: #323232;
    font-family: Open Sans, sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.main .content_4 .layout .title42 p{
    display: block;
    color: #323232;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.main .content_4 .layout .title42 .line{
    display: block;
    width: 256px;
    height: 1px;
    margin: 24px auto;
    background: #323232;
    position: relative;
}
.main .content_4 .layout .title42 .line:before{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content:" ";
    background: #323232;
    position: absolute;
    left: -5px;
    top: -2px;
}
.main .content_4 .layout .title42 .line:after{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content:" ";
    background: #323232;
    position: absolute;
    right: -5px;
    top: -2px;   
}
.main .content_4 .layout .slider2{
    display: block;
}
.main .content_4 .layout .slider2 .bx-wrapper .bx-viewport{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}
.main .content_4 .layout .slider2 .bxslider{
    display: block;
    overflow: hidden;
    width: 100%;
}
.main .content_4 .layout .slider2 .bxslider li {
    display: block;
    overflow: hidden;
}
.main .content_4 .layout .slider2 .bxslider li .ava{
    display: inline-block;
    width: 276px;
    height: 276px;
    border-radius: 50%;
    border: 6px solid #ebebeb;
    background: #7b7b7b;
    overflow: hidden;
}
.main .content_4 .layout .slider2 .bxslider li:first-child  .ava{
    background-image: url('../images/a1.jpg');
}
.main .content_4 .layout .slider2 .bxslider li:nth-child(2)   .ava{
    background-image: url('../images/a2.jpg');
}
.main .content_4 .layout .slider2 .bxslider li:nth-child(3) .ava{
    background-image: url('../images/a1.jpg');
}
.main .content_4 .layout .slider2 .bxslider li:last-child .ava{
    background-image: url('../images/a2.jpg');
}
.main .content_4 .layout .slider2 .bxslider .text{
    display: inline-block;
}
.main .content_4 .layout .slider2 .bxslider li .p1{
    display: inline-block;
    width: 20px;
    margin-bottom: 178px;
    margin-left: 90px;
    overflow: hidden;
    color: #323232;
    font-family: Open Sans, sans-serif;
    font-size: 60px;
    font-weight: 400;
}
.main .content_4 .layout .slider2 .bxslider li p{
    display: inline-block;
    overflow: hidden;
    margin-left: 14px;
    margin-bottom: 90px;
    overflow: hidden;
    width: 660px;
    color: #323232;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.main .content_4 .layout .slider2 .bxslider li p span{
    display: block;
    overflow: hidden;
    width: 700px;
    margin-top: 20px;
    color: #323232;
    font-family: Open Sans, sans-serif;
    font-size: 24px;
    font-weight: Bold;
}
.main .content_5{
    display: block;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 150px;
    background-image: url('../images/grayRectangle.png');
    background-repeat: repeat;
    text-align: center;
}
.main .content_5 .layout h2{
    display: block;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 48px;
    font-weight: 400;  
}
.main .content_5 .layout p{
    display: block;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 24px;
    font-weight: 400;  
}
.main .content_6{
    display: block;
    width: 100%;
}
.main .content_6 .map{
    display: block;
    width: 100%;
    height: 500px;
}
.main .content_6 .map iframe{
    display: block;
    width: 100%;
    height: 500px;
    border: none;
}
.main .content_7{
    display: block;
    overflow: hidden;
    width: 100%;  
    padding-bottom: 60px;
    background: #475a85;
}
.main .content_7 .layout .title7{
    display: block;
    width: 370px;
    margin: 0 auto 60px auto;
    text-align: center;
}
.main .content_7 .layout .title7 h3{
    display: block;
    padding-top: 70px;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.main .content_7 .layout .title7 p{
    display: block;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.main .content_7 .layout .title7 .line{
    display: block;
    width: 256px;
    height: 1px;
    margin: 24px auto;
    background: #ffffff;
    position: relative;
}
.main .content_7 .layout .title7 .line:before{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content:" ";
    background: #ffffff;
    position: absolute;
    left: -5px;
    top: -2px;
}
.main .content_7 .layout .title7 .line:after{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content:" ";
    background: #ffffff;
    position: absolute;
    right: -5px;
    top: -2px;   
}
.main .content_7 .layout .left7{
    float: left;
    width: 46%;
    padding-left: 20px;
}
.main .content_7 .layout .left7 h4{
    display: block;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.main .content_7 .layout .left7 img{
    display: inline-block;
    margin-right: 15px;
}
.main .content_7 .layout .left7 p{
    display: inline-block;
    width: 80%;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.main .content_7 .layout .left7 ul{
    display: block;
}
.main .content_7 .layout .left7 ul li{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.main .content_7 .layout .right7{
    float: right;
    overflow: hidden;
    width: 46%;
    padding-right: 20px;
}
.main .content_7 .layout .right7 form{
    display: block;
    width: 100%;
}
.main .content_7 .layout .right7 form input{
    display: inline-block;
    width: 246px;
    height: 60px;
    margin: 5px 0;
    padding: 0 5px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border: none;
    color: #747474;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.main .content_7 .layout .right7 form .name{
    display: inline-block;
    margin-right: 20px;
}
.main .content_7 .layout .right7 form textarea{
    display: block;
    width: 526px;
    height: 160px;
    padding: 0 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border: none;
    border: none;
    color: #747474;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
} 
.main .content_7 .layout .right7 form .button7{
    display: block;
    width: 160px;
    height: 50px;
    background: #ea5b58;
    text-align: center;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.footer{
    display: block;
    width: 100%;
    height: 170px;
    background: #161828;
    text-align: center;
}
.footer p{
    display: block;
    padding-top: 60px;
    margin-bottom: 30px;
    color: #4c4d57;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.footer .logobottom{
    display: block;
}
.footer .logobottom a{
    display: block;
}
.footer .logobottom a img{
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.arrow{
    display: block;
    width: 57px;
    position: fixed;
    bottom: 94px;
    right: 23px;  
}
.arrow .top{display: block;}
.arrow .top span{
    display: block;
    opacity: 0.3;
}
.arrow .top span:hover{
    display: block;
    opacity: 1;
}
/***************************************************/
@media (min-width: 978px) and (max-width:1169px) {
    .wrapper{
        width: 100%;
        margin: 0;
    }
    .layout{
        width: 900px;
        overflow: hidden;
        margin: 0 auto;
    }
    .main .content_1{
        display: block;
        height: 100%;
        margin: 0 auto;
    }
    .main .content_1 .layout h2{
        font-size: 20px;
    }
    .main .content_1 .layout p{
        font-size: 16px;
    }
    .main .content_1 .layout .right{
        top: 90px;
        right: 70px;
    }
    .main .content_1 .layout .left{
        top: 86px;
    }
    .main .content_2 .layout ul{
        display: block;
        margin: 20px auto;
    }
    .main .content_2 .layout ul li{
        display: inline-block;
        width: 400px;
        margin: 30px auto;
    }
    .main .content_4{
        padding-bottom: 20px;
    }
    .main .content_4 .layout .title41 h3{
        padding-top: 0;
    }
    .main .content_4 .layout .slider1{
        text-align: center;
    }
    .main .content_4 .layout .button4{
        margin: 0 auto;
    }
    .main .content_4 .layout .slider2 .bxslider li .ava{
        display: inline-block;
        width: 250px;
        height: 250px;
        margin: 20px auto;
        line-height: 200px;
    }
    .main .content_4 .layout .slider2 .bxslider li .text{
        width: 550px;
        text-align: justify;
    }
    .main .content_4 .layout .slider2 .bxslider li .text p{
        width: 100%;
    }
    .main .content_4 .layout .slider2 .bxslider li .text .p1{
        display: none;
    }
    .main .content_7 .layout .left7{
    width: 40%; 
    padding-left: 20px;   
    }
    .main .content_7 .layout .right7{
    width: 40%; 
    padding-right: 20px;   
    }
    .main .content_7 .layout .right7 form input{
        margin: 10px 0;
        width: 100%;
    }
    .main .content_7 .layout .right7 form textarea{
        width: 100%;
    }
    .arrow{
        right: 4px;
    }
}
/***************************************************/
@media (min-width: 768px) and (max-width: 977px) {
    .wrapper{
        width: 100%;
        margin: 0;
    }
    .layout{
        width: 700px;
        overflow: hidden;
        margin: 0 auto;
    }
    .header .layout .nav li{
        margin: 0 20px;
    }
    .main .content_1{
        padding-bottom: 24px;
        position: relative;
    }
    .main .content_1 .layout h2{
        font-size: 20px;
    }
    .main .content_1 .layout p{
        font-size: 16px;
    }
    .main .content_1 .layout .right{
        width: 300px;
        top: 40px;
        right: 60px;
    }
    .main .content_1 .layout .left{
        width: 700px;
        top: 8px;
    }
    .main .content_2 .layout ul{
        display: block;
        margin: 20px auto;
        text-align: center;
    }
    .main .content_2 .layout ul li{
        display: inline-block;
        width: 600px;
        border: 2px solid #1b2571;
        border-radius: 25%;
        -webkit-box-shadow: 5px 5px 5px 5px #0E1171;
        box-shadow: 5px 5px 5px 5px #0E1171;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 30px auto;
    }
    .main .content_4{
        padding-bottom: 20px;
    }
    .main .content_4 .layout .title41 h3{
        padding-top: 0;
    }
    .main .content_4 .layout .slider1{
        text-align: center;
    }
    .main .content_4 .layout .slider1 .tab-content{
        text-align: center;
    }
    .main .content_4 .layout .slider1 .tab-content ul li{
        display: inline-block;
        overflow: hidden;
        width: 300px;
        height: 250px;
        background: #506083;
        text-align: center;
    }
    .main .content_4 .layout .slider1 .tab-content ul li:hover{
        width: 280px;
    }
    .main .content_4 .layout .slider1 .tab-content ul li h3{
        display: block;
        overflow: hidden;
        padding-top: 30px;
        margin-bottom: 14px;
        color: #ffffff;
        font-family: Open Sans, sans-serif;
        font-size: 20px;
        font-weight: 700;   
    }
    .main .content_4 .layout .slider1 .tab-content ul li p{
        display: block;
        overflow: hidden;
        color: #ffffff;
        font-family: Open Sans, sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    .main .content_4 .layout .slider1 .tab-content ul li img{
        display: block;
        width: 44px;
        overflow: hidden;
        margin: 10px auto;
    }
    .main .content_4 .layout .slider1 .tab-content ul li:hover img{
        width: 44px;
        margin: -14px auto;
    }
    .main .content_4 .layout .button4{
        margin: 0 auto;
    }
    .main .content_4 .layout .slider2 .bxslider li{
        text-align: center;
    }
    .main .content_4 .layout .slider2 .bxslider li .ava{
        display: inline-block;
        width: 400px;
        height: 250px; 
        margin: 20px auto;
        line-height: 200px;
    }
    .main .content_4 .layout .slider2 .bxslider li .text{
        width: 550px;
        text-align: justify;
    }
    .main .content_4 .layout .slider2 .bxslider li .text p{
        width: 100%;
    }
    .main .content_4 .layout .slider2 .bxslider li .text .p1{
        display: none;
    }
    .main .content_4 .layout .slider2 .bxslider li p span{margin-bottom: 0;}
    .main .content_7 .layout .left7{
    width: 30%; 
    padding-left: 20px;   
    }
    .main .content_7 .layout .left7 p{
    display: inline-block;
    width: 90%;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
    .main .content_7 .layout .right7{
    width: 60%; 
    padding-right: 20px;   
    } 
    .main .content_7 .layout .right7 form input{
        margin: 5px 0;
        width: 96%;
        height: 40px;
    }
    .main .content_7 .layout .right7 form textarea{
        width: 96%;
    }
    .main .content_7 .layout .right7 form .button7{
        float: right;
        width: 48%;
        margin-right: 4px;
        margin-top: 0px;
    }
    .main .content_4 .layout .slider2 .bx-wrapper .bx-pager,
    .bx-wrapper .bx-controls-auto {
        bottom: 0;
    }
    .arrow{
        width: 50px;
        right: 4px; 
        bottom: 30px;
    }
}
/***************************************************/
@media (min-width: 300px) and (max-width: 767px) {
    .wrapper{
        width: 100%;
        position: relative;
    }
    .layout{
        width:  100%;
        margin: 0 auto;
    }
    .header{
        position: relative;
    }
    .logo{
        margin-left: 10px;
    }
    .main .content_1 .layout .right{
        display: none;;
    }
    .main .content_1 .layout .left{
        display: none;
    }
    .header .menu { 
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 30px;
        right: 20px;
        background: none;
    }
    .header .menu .hamburger{
        display: block;
        width: 40px;
        height: 4px;
        background: #475a85;
        margin-bottom: 4px;
        -webkit-border-radius: 2px;
        border-radius: 2px; 
        cursor:pointer; 
    }
    .header .menu .hamburger:last-child{
        margin-bottom: 0;
    }
	.header .nav {
		position: absolute;
		display: none;
		float: none;
		top: 50px;
		width: 100%;
		padding: 10px 0;
	}
    .header .nav li{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .header .nav li a{
        color: #ffffff;
        font-family: Open Sans, sans-serif;
        font-size: 12px;
        font-weight: 400;
    }
	.header .nav.active { 
        display: block;
        width: 25%;
        background: #475a85;
        position: absolute;
        right: 0;
        z-index: 10000;
        -webkit-border-radius: 0 0 8px 8px;
        border-radius: 0 0 8px 8px;
        cursor: pointer;
    }
    .main .content_1 {
        padding-bottom: 10px;
    }
    .main .content_1 .layout h2{
        padding-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        font-size: 18px;
    }
    .main .content_1 .layout p{
        margin-left: 10px;
        color: #ffffff;
        font-size: 16px;
    }
    .main .content_1 .layout .button{
        text-align: center;
        margin: 0 auto;
    }
    .main .content_2 .layout .title{
        width: 80%;
        margin: 0 auto;
    }
    .main .content_2 .layout .title h3{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main .content_2 .layout .title .line{
        width: 80%;
        margin: 0 auto;
    }
    .main .content_2 .layout ul{
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
    }
    .main .content_2 .layout ul li{
        display: block;
        margin: 20px auto;
    }
    .main .content_2 .layout ul li:last-child{
        margin: 0 auto;
    }
    
    .main .content_3{
        padding-top: 0;
        padding-bottom: 20px;
    }
    .main .content_3 .layout h2{
        font-size: 28px;
        padding-top: 20px;
    }
    .main .content_3 .layout p{
        font-size: 20px;
        padding-top: 20px;
    }
    .main .content_4{
        width: 100%;
        padding: 0;
    }
    .main .content_4 .layout .title41{
        width: 80%;
    }
    .main .content_4 .layout .title41 h3{
        padding-top: 10px;
    }
    .main .content_4 .layout .title41 .line{
        width: 80%;
    }
    .main .content_4 .layout .tabs{
        margin: 0 auto;
    }
    .main .content_4 .layout .slider1 .tab-content{
        text-align: center;
    }
    .main .content_4 .layout .slider1 .tab-content ul li{
        display: block;
        overflow: hidden;
        width: 300px;
        height: 250px;
        margin: 10px auto;
        background: #506083;
        text-align: center;
    }
    .main .content_4 .layout .slider1 .tab-content ul li:hover{
        width: 280px;
    }
    .main .content_4 .layout .slider1 .tab-content ul li h3{
        display: block;
        overflow: hidden;
        padding-top: 30px;
        margin-bottom: 14px;
        color: #ffffff;
        font-family: Open Sans, sans-serif;
        font-size: 20px;
        font-weight: 700;   
    }
    .main .content_4 .layout .slider1 .tab-content ul li p{
        display: block;
        overflow: hidden;
        color: #ffffff;
        font-family: Open Sans, sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    .main .content_4 .layout .slider1 .tab-content ul li img{
        display: block;
        width: 44px;
        overflow: hidden;
        margin: 10px auto;
    }
    .main .content_4 .layout .slider1 .tab-content ul li:hover img{
        width: 44px;
        margin: -14px auto;
    }
    .main .content_4 .layout .button4{
        margin-top: 10px;
        margin-bottom: 0;
    }
    .main .content_4 .layout .title42{
        width: 80%;
    }
    .main .content_4 .layout .title42 h3{
        padding-top: 10px;
    }
    .main .content_4 .layout .title42 .line{
        width: 80%;
    }
     .main .content_4 .layout .slider2 .bxslider{
        width: 100%;
        margin: 0 auto;
    }
    .main .content_4 .layout .slider2 .bxslider li .ava{
        display: block;
        width: 250px;
        height: 250px; 
        margin: 20px auto;
        line-height: 200px;
    }
    .main .content_4 .layout .slider2 .bxslider li .text{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .main .content_4 .layout .slider2 .bxslider li .text .p1{
        display: none;
    }
    .main .content_4 .layout .slider2 .bxslider li .text p{
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .main .content_5{
        padding-top: 0;
        padding-bottom: 20px;
    }
    .main .content_5 .layout h2{
        font-size: 28px;
        padding-top: 20px;

    }
    .main .content_5 .layout p{
        font-size: 20px;
        padding-top: 20px;
    }
    .main .content_7 {
        width: 100%;
    }
    .main .content_7 .layout .title7{
        width: 80%;
    }
    .main .content_7 .layout .title7 h3{
        padding-top: 10px;
    }
    .main .content_7 .layout .title7 .line{
        width: 80%;
    }
    .main .content_7 .layout .left7{
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .main .content_7 .layout .left7 h4{
        display: block;
        width: 90%;
        font-size: 22px;
        margin: 0 auto;
    }
    .main .content_7 .layout .left7 p{
        display: block;
        width: 90%;
        font-size: 16px;
        margin-left: 4px;
    }
    .main .content_7 .layout .left7 ul{
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
    .main .content_7 .layout .right7{
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .main .content_7 .layout .right7 form{
        width: 90%;
        margin: 0 auto; 
    }
    .main .content_7 .layout .right7 form input{
        width: 100%;
        margin: 5px 0 5px 15px;
    }
    .main .content_7 .layout .right7 form textarea{
        width: 100%;
        margin: 5px 0 5px 15px;
    }
    .main .content_7 .layout .right7 form .button7{
        float: right;
        width: 50%;
        margin-top: 10px;
        margin-right: -25px;
    }
    .footer{
        height: 100px;
        padding-bottom: 20px; 
    }
    .footer p{
        padding-top: 20px;
        margin-bottom: 10px;
    }
}







